.section-shader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-shader {
  width: 648px;
  margin-top: 48px;
  padding-bottom: 48px;
}

.canvas-wrapper {
  display: flex;
  gap: 12px;
  min-height: 648px;
  flex-direction: column;
  padding: 24px;
  margin-bottom: 48px;

  .skeleton-canvas {
    background-color: #252525;
  }
  .skeleton-info {
    display: flex;
    align-items: center;
    &-title {
      width: 180px;
      height: 24px;
      background-color: #252525;
    }
    &-button {
      width: 400px;
      height: 32px;
      margin-top: 12px;
      background-color: #252525;
    }
  }
}

.canvas-main {
  position: relative;
  width: 600px;
  height: 600px;
  background-color: #252525;
}

.canvas-info {
  h2 {
    color: #252525;
    font-size: 0.75rem;
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    width: 100%;
    margin-top: 16px;

    @media only screen and (max-width: 600px) {
      align-items: start;

      .buttons {
        height: calc(100vh - 100vw - 48px);
        width: calc(100vw - 48px);
        overflow: auto;
      }
    }
  }
}
