@import "styles/variables.module.scss";

.button {
    padding: 4px 8px;
    background-color: $black-100;
    color: $white-100;
}

.link {
    padding: 4px 8px;
    font-size: .85rem;
    background-color: $black-100;
    color: $white-100;
    transition: 150ms ease-in-out opacity;

    &:hover{
        opacity: .75;
    }
}