@import "styles/variables.module.scss";

.header {
    position: fixed;
    top: 0;
    width: 100vw;
    padding: 12px;
    z-index: 9999;
}

.menus {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: $font-size-nav;
}