@import "styles/variables.module.scss";

.h1{
    color: $black-0;
    font-size: 2rem;
}

.title{
    color: $black-0;
    font-size: 2rem;
}

.subTitle{
    color: $black-100;
    font-size: 1.2rem;
}
.h4{ 
    color: $black-0;
    font-size: 2rem;
}
.h5{
    color: $black-0;
    font-size: 2rem;
}
.name{
    color: $black-0;
    font-size: 2rem;
}
.link {
    color: $black-0;
}
