.section-p5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-p5 {
  width: 648px;
  margin-top: 48px;
  padding-bottom: 12px;
}

.container-info {
  width: 648px;
  padding-bottom: 48px;
}
