@import "styles/reset.scss";

body {
	min-height: 100vh;
	font-size: 16px;
	font-family: monospace;
	line-height: 1;
	background-color: #fefefe;
}

::-moz-selection {
	/* Code for Firefox */
	color: #dcdcdc;
	background: #252525;
}

::selection {
	color: #dcdcdc;
	background: #252525;
}