$font-size-nav: 1rem;

$spotify: #1DB954;

$black-0: #000;
$black-100: #252525;

$white-0: #efefef;
$white-100: #dcdcdc;

:export {
    spotify: $spotify;

    black0: $black-0;
    black100: $black-0;

    white0: $white-0;
    white100: $white-100;
}